<html>
  <head>
    <title>{{title}}</title>
    <style>
      core-toolbar {
        background-color: #ec802f;
      }
      paper-fab {
        right: 50px;
        bottom: 30px;
        position: absolute;
        z-index: 1;
      }
      dt, dd {
        float: left;
      }
      dt {
        clear: both;
        width: 200px;
      }
    </style>
  </head>
  <body>
        <h1>{{title}}</h1>

          <ul>
          {{#each children}}
            <li><a class="child" href="{{link}}">{{desc}}</a></li>
          {{/each}}
          </ul>

          <div class="value">value:
            <input id="txtData" value="{{data}}">
          </div>
          <div class="stat">
            <dl><dt>czxid</dt><dd>{{stat.czxid}}</dd>
            <dt>mzxid</dt><dd>{{stat.mzxid}}</dd>
            <dt>pzxid</dt><dd>{{stat.pzxid}}</dd>
            <dt>dataLength</dt><dd>{{stat.dataLength}}</dd>
            <dt>numChildren</dt><dd>{{stat.numChildren}}</dd>
            <dt>version</dt><dd>{{stat.version}}</dd>
            <dt>cversion</dt><dd>{{stat.cversion}}</dd>
            <dt>aversion</dt><dd>{{stat.aversion}}</dd>
            <dt>ctime</dt><dd>{{stat.ctime}}</dd>
            <dt>mtime</dt><dd>{{stat.mtime}}</dd>
            <dt>ephemeralOwner</dt><dd>{{stat.ephemeralOwner}}</dd>
            <dt>createdInThisSession</dt><dd>{{stat.createdInThisSession}}</dd></dl>
          </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
  </body>
</html>
