<html>
  <head>
    <title>{{title}}</title>
    <style>
      core-toolbar {
        background-color: #ec802f;
      }
      paper-fab {
        right: 50px;
        bottom: 30px;
        position: absolute;
        z-index: 1;
      }
      dt, dd {
        float: left;
      }
      dt {
        clear: both;
        width: 200px;
      }
    </style>
  </head>
  <body>
        <h1>{{title}}</h1>

        <div class="list">
          <ul>
          {{#each children}}
            <li><a class="child" href="{{link}}">{{desc}}</a></li>
          {{/each}}
          </ul>
          <input id="new_child_name" placeholder="Child Name">
          <input id="new_child_value" placeholder="Child Value (optional)">
          <input id="add" type="button" value="Add New Child">
        </div>

          <div class="value">value:
            <input id="value" value="{{data}}">
            <input id="submit" type="button" value="Change">
          </div>
          <div class="stat">
            <dl><dt>czxid</dt><dd>{{stat.czxid}}</dd>
            <dt>mzxid</dt><dd>{{stat.mzxid}}</dd>
            <dt>pzxid</dt><dd>{{stat.pzxid}}</dd>
            <dt>dataLength</dt><dd>{{stat.dataLength}}</dd>
            <dt>numChildren</dt><dd>{{stat.numChildren}}</dd>
            <dt>version</dt><dd>{{stat.version}}</dd>
            <dt>cversion</dt><dd>{{stat.cversion}}</dd>
            <dt>aversion</dt><dd>{{stat.aversion}}</dd>
            <dt>ctime</dt><dd>{{stat.ctime}}</dd>
            <dt>mtime</dt><dd>{{stat.mtime}}</dd>
            <dt>ephemeralOwner</dt><dd>{{stat.ephemeralOwner}}</dd>
            <dt>createdInThisSession</dt><dd>{{stat.createdInThisSession}}</dd></dl>
          </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script>
      function submitChanges(path, value) {
        $.ajax({
          type: 'put',
          url: path,
          contentType: 'application/json',
          data: JSON.stringify({ val: value }),
          success: function(data) {
            alert('znode updated successfully');
            location.reload();
          }
        });
      }
      $('#submit').click(function() {
        var path = '/api' + location.pathname;
        var val = $('#value').val();

        submitChanges(path, val);
      });
      $('#add').click(function() {
        var path = '/api/' + location.pathname + '/' + $('#new_child_name').val();
        var val = $('#new_child_value').val();

        submitChanges(path, val);
      });
    </script>
  </body>
</html>
